build/
subprojects/freestanding-cxx-hdrs
subprojects/freestanding-headers
subprojects/frigg
subprojects/lai
subprojects/flanterm
.cache
docs/_static
docs/_doxygen
docs/_build
docs/reference
docs/api
env
.vscode
compile_commands.json
