[submodule "thirdparty/limine"]
	path = thirdparty/limine
	url = https://github.com/limine-bootloader/limine
	branch = v3.0-branch-binary
[submodule "src/lib/stdc-shim"]
	path = src/lib/stdc-shim
	url = https://github.com/nyx-org/stdc-shim
[submodule "subprojects/stdc-shim"]
	path = subprojects/stdc-shim
	url = https://github.com/nyx-org/stdc-shim
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
